<!doctype html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1" name="viewport">
		<title>결제 프로세스 테스트</title>
		<link href="/css/output.css" rel="stylesheet">
	</head>
	<body>
		<div class="flex justify-center items-center h-screen">
			<button
					class="inline-block rounded-sm bg-indigo-600 px-8 py-3 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:ring-3 focus:outline-hidden"
					disabled id="payment-button" onclick="onClickPayment()">
				결제창 이동
			</button>
		</div>
		<script src="/js/paymentWeb.js"></script>
	</body>
</html>